.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* 移动端适配 */
@media (max-width: 768px) {
  .footer p {
    font-size: 1em;
  }

  .footer {
    bottom: 5px;
  }
}
